.welcomePictureWrapper{
  position: relative;
  width: 100%;
  max-width: 2000px;
  height: 600px;
  margin: 0 auto;
}
.welcomePictureBackground{
  background-image: url("https://lh5.googleusercontent.com/efVj0_rE5Iy-Qu1LSEcV_-qDEzm1QVuChK-cVUYUmenb4m6UstmlA1BiskZak0hiukiA4X-t1IftwshEchTl=w1680-h949-rw");
  width: 100%;
  height:600px;
  background-repeat: no-repeat;
  background-size:  cover;
  background-position: center;
  opacity: .6;
  position: absolute;
}
.welcomePictureText{
  width: 100%;
  height: 100%;
  margin: 0 auto;
  position: relative;
}
.welcomePictureText h1{
  width: fit-content;
  margin: 0 auto;
  /*align-self: center;*/
  /*font-family: 'Spectral SC', serif;*/
  font-family: 'Merienda', cursive;
  font-size: 70px;
  color: black;
  text-shadow: 2px 2px #ccc;
  padding-top: 80px;
}
.welcomePictureText h3{
  width: fit-content;
  margin: 0 auto;
  /*align-self: center;*/
  /*font-family: 'Spectral SC', serif;*/
  font-family: 'Merienda', cursive;
  font-size: 50px;
  color: black;
  text-shadow: 2px 2px #ccc;
  padding-top: 20px;
}
.welcomePictureText h4{
  width: fit-content;
  margin: 0 auto;
  /*align-self: center;*/
  /*font-family: 'Spectral SC', serif;*/
  font-family: 'Merienda', cursive;
  font-size: 23px;
  color: black;
  text-shadow: 2px 2px #ccc;
  padding-top: 100px;
}
.findOutMoreButton{
  width: fit-content;
  margin: 100px auto;
  /*align-self: center;*/
  /*font-family: 'Spectral SC', serif;*/
  font-family: 'Spectral SC', serif;
  font-size: 25px;
  color: black;
  text-shadow: 2px 2px #ccc;
  padding: 10px 15px;
  transition: all .3s
}
.findOutMoreButton:hover{
  cursor: pointer;
  background: #99cfe8;
}